<html>
<head>
<title>Samsax Musicals.com</title>
      <link rel="stylesheet" type="text/css" href="public/css/style1.css">
<body>
      <div class="loginbox">
      <img src="images/avatar.png" class="avatar">
      <h1>Signup here</h1>
    <form action="/register" method="post">
	 <p>First Name</p>
	 <input type="text" name="fname" placeholder="Enter first name">
	 <p>Last Name</p>
	 <input type="text" name="lname" placeholder="Enter last name">
	 <p>Gender :
	<select name="gender">
	   <option value="none">none</option>
	   <option value="male">male</option>
	   <option value="female">female</option>
	   </select>
	  <p>phone no</p>
	  <input type="text" name="phone" placeholder="Enter phone no">

	 <p>Email</p>
	 <input type="email" name="email" placeholder="Enter Email">
	 <p>Password</p>
	 <input type="password" name="" placeholder="Enter password">
	 <p>Confirm password</p>
	 <input type="password" name="" placeholder="Enter password">
	 <input type="submit" name="" value="Register">
        
   </form>
  
  </div>

</body>
</head>
</html>
